* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: auto;
  color: white;
  background: #2c2c2c;
  font-family: "Nanum Myeongjo", serif;
}

h1,
h2,
h3 {
  font-family: "Abril Fatface", cursive;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.f_container {
  height: 100vh;
  width: 100%;
  background: url(images/xps.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
nav {
  color: white;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  position: sticky;
  top: 0;
}

nav h1 {
  justify-self: flex-start;
  margin-left: 2em;
  width: 30px;
  font-family: "Lobster", cursive;
  font-size: 200%;
}
nav span {
  font-size: 80%;
  font-weight: lighter;
  font-family: "Nanum Myeongjo", serif;
}

.dropdown {
  position: relative;
}

.dropdown p {
  font-weight: bold;
  font-size: larger;
}

.dropdown_content {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.05);
  width: 200%;
  padding: 1em;
}

.dropdown:hover .dropdown_content {
  display: block;
}

.dropdown_content a {
  display: block;
  margin-top: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: large;
}

header {
  width: 100%;
  height: 90%;
}

header p {
  font-size: large;
  position: relative;
  top: 30%;
  left: 16%;
  width: 15%;
  line-height: 1.4em;
}

header h2 {
  position: relative;
  top: 34%;
  left: 16%;
  width: 10%;
}

header span {
  color: #f3e5c8;
}

header h1 {
  position: relative;
  top: 38%;
  left: 16%;
  width: 15%;
  line-height: 1.5em;
}
.m_container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mis {
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: row;
}

.mtxt {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 150%;
}

.mtxt h2 {
  width: 100%;
  line-height: 1.6em;
  margin-bottom: 2em;
  margin: auto;
}
.mtxt span {
  color: rgb(238, 238, 97);
}

.mtxt p {
  margin-bottom: 1.3em;
}

.mtxt li {
  margin-bottom: 0.8em;
  font-size: 90%;
  color: rgb(185, 178, 178);
}

.m_img {
  flex-basis: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.about {
  width: 100%;
  height: 100vh;
  position: relative;
}

.about h1 {
  width: 20%;
  position: relative;
  left: 13%;
  top: 2%;
  margin-bottom: 30px;
}

.about img {
  height: 22%;
  width: 12%;
  border-radius: 50%;
  filter: grayscale(50%);
  position: relative;
  top: 5%;
  left: 11%;
}

.about p {
  width: 20%;
  font-size: larger;
  font-style: italic;
  line-height: 2.5em;
  position: relative;
  top: 9%;
  left: 9%;
}

.overlay {
  background: url(images/coffee.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 70%;
  height: 100%;
  right: 0;
}
